.Main-chat
  .Main-chat__main-header
    .Main-chat__main-header__box-1
      .Main-chat__main-header__box-1__group-name
        = @group.name
      .Main-chat__main-header__box-1__group-member
        - @group.users.each do |current_user|
          = current_user.name
    .Main-chat__main-header__box-2
      .Main-chat__main-header__box-2__edit
      = link_to edit_group_path(@group),class: "Main-chat__main-header__box-2__edit__btn" do
        Edit




  .Main-chat__main-messages
    = render @messages
    -# .Main-chat__main-messages__box-1
    -#   .Main-chat__main-messages__box-1__name
    -#     masa
    -#   .Main-chat__main-messages__box-1__date
    -#     2019/11/20(Wed) 17:43:01
    -# .Main-chat__main-messages__box-2
    -#   .Main-chat__main-messages__box-2__comment
    -#     おはよう！
  .Main-chat__main-form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text',placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas','image')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'input-box__submit',value: 'SEND'